<div class="loader" ng-show="loading"></div>
<div class="container-fluid">
  <div class="row">
    <header class="page-header text-to-center col-xs-12 col-lg-12">
      <h1 class="tt">#MOSTRESUACARA</h1>
    </header>
  </div>
  <div class="row">
    <div class="col-lg-10 center-block col-xs-12">
      <div class="row">
        <a href="#" ng-click="vote($event,dilma.id)" class="col-md-5 text-to-center col-xs-12">
          <div>
              <div id="CandidatoA">
                  <img src="{{dilma.foto}}" alt="" title="Clique para votar a favor de {{dilma.apelido}}" />
                  <h4>{{dilma.apelido}} - {{dilma.cargo}} / {{dilma.partido}}</h4>
              </div>
          </div>
        </a>
        <div class="col-md-2 col-xs-12">
            <span class="glyphicon glyphicon-remove remove-button"></span>
        </div>
        <a href="#" ng-click="vote($event,candidato.id)" class="col-md-5 text-to-center col-xs-12">
          <div>
              <div id="CandidatoB">
                  <img src="{{candidato.foto}}" alt="" title="Clique para votar a favor de {{candidato.apelido}}" />
                  <h4>{{candidato.apelido}} - {{candidato.cargo}} / {{candidato.partido}}</h4>
              </div>
          </div>
        </a>
      </div>
  </div>
</div>
